/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, textarea {
    background-color: #f7e6e6;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #156c94;
    padding: 16px 0;
    color: #f7e6e6;
    font-family: 'Source Code Pro', monospace;
}

header nav li {
    display: inline;
    margin: 13px;
    font: 15px;
}

header nav li a {
    text-decoration: none;
    color: #f7e6e6;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#teclados .container {
    display: block;
    margin-bottom: 24px;
}

#teclados img {
    margin-right: 32px;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section h2 {
    color: #021b1d;
    font-family: 'Source Code Pro', monospace;
    margin-bottom: 16px;
}

section {
    color: #182c61;
}

section p {
    margin-bottom: 8px;
}

.keyboard-loja {
    margin-right: 32px;
    width: 550px;
}

.social-links img {
    height: 24px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

#contato {
    background-color: #156c94;
}

#contato .container {
    display: block;
}

#contato .container h2 {
    color:#f7e6e6;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
    color: #f7e6e6;
}


form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
    border: none;
    cursor: pointer;
}

form textarea {
    resize: none;
    height: 100px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: #ffbc04cb;
}

form button:hover {
    background-color: #08d1f5cb;
}

input:focus, textarea:focus {
    outline-color: #ffbc04cb;
}

footer {
    background-color: #156c94;
    color:#f7e6e6;
    text-align: center;
    padding: 16px 0;
}

